body {
  width: 400px;
  min-height: 150px;
  background-color: #1a1a1a;
  color: #f2f2f2;
}


a {
  color: #FFFFFF
  
}

a:visited {
  color: #ff0000
}

li {
  /* margin-bottom: 10px; */
  margin: 10px;
}

.button {
  border-radius: 100px;
  font: bold 11px Arial;
  text-decoration: none;
  /* background: rgb(6,0,58); */
  /* background: linear-gradient(77deg, rgba(6,0,58,1) 11%, rgba(75,18,128,1) 52%, rgba(0,187,255,1) 100%);  */
  padding: 2px 6px 2px 6px;
  background: rgb(6,0,58);
  /* border-image: linear-gradient(77deg, rgba(6,0,58,1) 11%, rgba(75,18,128,1) 52%, rgba(0,187,255,1) 100%); */
  /* border-image-slice: 1; */
  /* border-style: ; */
  /* border-radius: 25px; */
  border-width: 5px;
}



#editdialog input {
  width: 100%;
}
